@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap");
* {
  margin: 0; /* domyślnie przeglądarka ma ustawione marginesy, zerujemy wszystkie*/
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif; /*czcionka google fonts*/
  margin-left: auto;
  margin-right: auto;
  
}
#menu {
  width: 100%;
  background-image: url("https://cdn.glitch.com/fb54ad42-b82c-47b9-bd60-8c6685a09006%2Fpeter-broomfield-m3m-lnR90uM-unsplash.jpg?v=1584820978069");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
  text-align: right;
}
ul {
  padding: 30px;
}

ul>li#home {
  position: absolute;
  left: 10px;
  top: -20px;
}

a {
  text-decoration: none;
  padding: 8px;
  border-bottom: 2px solid transparent;
  transition-duration: 0, 2s;
  color: red;
  transition: 0.5s;
}

a:hover {
  border-bottom: 2px solid red;
}
#ofertaTekst, #galeriaTekst {
  text-align: center;
}

.miniaturka {
		border: 3px solid #F0F0F0;
		margin-left: 20px;
		margin-bottom:50px;
		position: relative;
		width: 150px;
		float: left;
    }
 
  .tekst {
		background: rgba(255, 255, 255, .9);
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
  }
 
  .tekst h5 {
		font-family: Verdana, Arial, sans-serif;
		font-size: 11px;
		color: #4B4B4B;
		margin: 5px 10px;
  }

#oferta {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.info {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  object-fit: cover;
}
.column-three {
  float: left;
  width: 33.33%;
}
h1 {
  padding: 30px;
  clear: both;
  text-align: left;
}

.mySlider {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
#galeria {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
#opinie {
  font-family: "Lato", cursive;
  width: 271px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#oferta2,
#opinie2,
#galeria2,
#kontakt2 {
  font-weight: 900;
  padding: 10px;
  display: inline;
  text-transform: uppercase;
}
#lis {
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}
#color {
  background-color: #ffd35c;
}
#dane {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#stopka {
  max-width: 600px;
  height: 650px;
  background-color: #262626;
  padding: 50px;
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
}

.column-two {
  width: 50%;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

table {
  font-size: 200%;

  color: white;

  border-spacing: 5px;
  border: 2px solid red;
}

th {
  padding: 10px;
  text-align: left;
}

td {
  text-align: left;
}

#zaplata,
#doKodu,
#zaplata2 {
  color: white;
}

ul>li {
  display: inline-block;
};

#aktualny{
background-color: #ffd35c;
}

#formularz{
  margin: auto;
  display: block;
}

